@media (max-width: 1300px) {
    .product-more {
        margin-top: 60px;
    }

    .banner-section__slider-btn,
    .product-slider__slider-btn {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .banner-section__slider-img {
        max-width: 600px;
    }

    .banner-section__inner {
        justify-content: space-around;
    }

    .banner-section__slider {
        max-width: 600px;
    }
    .categories__inner {
        justify-content: space-around;
    }

    .banner-link img {
        width: 100%;
    }

    .catalog__inner-list {
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .menu__list-item + .menu__list-item {
        padding-left: 20px;
    }

    .header__address {
        margin-right: 20px;
    }

    .card__tabs {
        display: none;
    }
}

@media (max-width: 968px) {
    .header__bottom {
        display: none;
    }

    .menu__list {
        display: none;
    }

    .menu__mobile-linewrapper {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #2f3035;
        background-color: #f0f0f4;
        padding: 15px 0 15px 15px;
        overflow-x: scroll;
    }

    .menu__mobile-line {
        width: 450px;
    }

    .menu__btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0;
        display: block;
    }

    .menu__btn-line {
        background-color: #2f2f2f;
        height: 3px;
        border-radius: 3px;
        width: 34px;
    }

    .menu__btn-line + .menu__btn-line {
        margin-top: 8px;
    }

    .banner-section__inner {
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-section__slider-img {
        max-width: 100%;
    }

    .banner-section__slider {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .banner-section__slider-item {
        text-align: center;
    }

    .mobile-overflow {
        width: 1000px;
    }

    .tabs-wrapper,
    .breadcrumbs__inner,
    .catalog__filters-iteminner {
        overflow-x: scroll;
    }

    .tabs-wrapper.tabs-wrapper--no-scroll {
        overflow: hidden;
    }

    .product-card__inner {
        flex-wrap: wrap;
    }

    .product-card__tabs {
        display: none;
    }

    .product-card__content {
        order: -1;
    }

    .product-card__btn-mobile {
        display: block;
        margin: 0 auto;
        background-color: #1c62cd;
        border-radius: 3px;
        padding: 17px 50px;
        color: #fff;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }

    .product-card__img-box {
        width: 100%;
    }
}

@media (max-width: 940px) {
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__top-item {
        margin-bottom: 25px;
    }

    .catalog__filters-btn button {
        display: none;
    }

    .catalog__filters-btn {
        margin-top: 30px;
    }

    .catalog__filters {
        display: block;
    }

    .product-card__title {
        font-size: 20px;
        line-height: 24px;
    }

    .product-card__img {
        max-width: 100%;
    }
}

@media (max-width: 640px) {
    .header__address {
        display: none;
    }
    .banner-section__slider-img {
        min-height: 200px;
    }

    .banner-section .container {
        padding: 0;
    }

    .search__content-btn {
        font-size: 0;
        line-height: 0;
        padding: 17px;
        border: none;
        position: absolute;
        background-image: url(../images/search-icon.svg);
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        right: 8px;
        top: 13px;
    }

    .search__content-input {
        height: 50px;
        padding-right: 50px;
    }

    .search__content-form {
        position: relative;
    }

    .products {
        margin-bottom: 30px;
    }

    .catalog__inner {
        flex-wrap: wrap;
    }

    .aside__btn {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        padding: 15px 0;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        background-color: #1c62cd;
        color: #fff;
    }

    .aside-filter {
        display: none;
    }
}

@media (max-width: 540px) {
    .footer__top-item {
        width: 100%;
    }

    .footer__top-newslatter {
        margin-right: auto;
        margin-left: auto;
        width: 300px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 22px;
    }

    .footer__bottom-link + .footer__bottom-link {
        margin-left: 0;
    }

    .footer__bottom-link {
        margin: 12px 0;
    }

    .footer__top-inner {
        justify-content: start;
    }

    .footer__top-title.footer__topdrop {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.0861538px;
        color: #7f7f7f;
        margin-bottom: 2px;
        padding-bottom: 5px;
        border-bottom: 2px solid #f9f9fc;
        position: relative;
        cursor: pointer;
    }

    .footer__top-title.footer__topdrop::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 12px;
        background-image: url(../images/footer-back.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 5px;
        transition: all 0.3s;
        transform: rotate(0);
    }

    .footer-list {
        display: none;
    }

    .footer__top-title--active.footer__top-title.footer__topdrop::after {
        transform: rotate(180deg);
        top: 3px;
    }
}

@media (max-width: 440px) {
    .banner-section__slider-img {
        min-height: 164px;
    }

    .categories__item {
        padding: 20px 10px 16px;
    }

    .pagination__list-item {
        margin: 0;
        padding: 9px 12px;
    }
}
